# MkDocs and plugins
cairosvg
Pillow
mkdocs-material==9.7.6
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-git-revision-date-localized-plugin==1.5.1
mkdocs-glightbox==0.5.2
mkdocs-minify-plugin==0.8.0

# Prowlarr indexer update script
requests==2.33.1
pycountry==26.2.16
python_iso639==2026.4.20

# Development
pre-commit
